---
layout: default

link: Demandez-leur de publier leurs données sur la diversité
tweet: La diversité en entreprise, c'est important, @TWITTERHANDLE. Seriez-vous prêts à publier vos chiffres ?

link_progress: Remerciez-les de travailler à publier leurs chiffres de la diversité
tweet_progress: Merci de travailler à publier vos chiffres sur la diversité, @TWITTERHANDLE!

link_success: Remerciez-les !
tweet_progress: Merci d'avoir publié les chiffres sur la diversité chez vous, @TWITTERHANDLE !

link_update: Demandez-leur de mettre à jour les chiffres
tweet_update: Vos chiffres sur la diversité datent de YEAR, @TWITTERHANDLE. Merci de les mettre à jour!

hash: DataDiversite

---

{% for section in site.data.main.sections %}
  {% include table.html %}
{% endfor %}

